* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_gap-5 {
    display: flex;
    gap: 5px;
}

.p-x5 {
    padding: 5px 0;
}

.app__todo {
    width: 300px;
    margin: 0 auto;

    .filter__todo {
        display: flex;
        gap: 3px;
        margin-top: 3px;

        button {
            padding: 2px 7px;
        }
    }
}

.form__todo {
    display: flex;
    align-items: center;
    margin-top: 10px;

    &-input {
        width: 75%;
        padding: 5px 10px;
    }

    &-submit {
        width: 25%;
        padding: 5px;
    }
}

.group__todo {
    button {
        padding: 2px 5px;
    }
}